<%= form_with(model: playlist) do |form| %>
  <% if playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
        <% playlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p class="form-label">
      <%= form.label :song_title %>
    </p>
    <p class="input">
      <%= form.text_field :song_title %>
    </p>
  </div>

  <div class="field">
    <p class="form-label">
      <%= form.label :artist %>
    </p>
    <%= form.text_field :artist %>
  </div>

  <div class="field">
    <p class="form-label">
      <%= form.label :album %>
    </p>
    <%= form.text_field :album %>
  </div>

  <div class="actions">
    <div id="action-container">
      <%= form.submit %>
    </div>
  </div>
<% end %>


