<div class='track-details'>
  <div class='info'>
    <div id= 'title'>
      <%= @playlist.song_title %>
    </div>

    <div id= 'artist'>
      <%= @playlist.artist %>
    </div>

    <div id= 'album'>
      <%= @playlist.album %>
    </div>

    <div class='track-controls'>
      <p id='delete-track'>
        <%= link_to 'Delete', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %> 
      </p> 
      <p id='edit-track'>
        <%= link_to 'Edit', edit_playlist_path(@playlist) %>
      </p>       
    </div>

    <div class='page-controls'>
      <div id='back'>
        <%= link_to '| Back to Playlist |', playlists_path %>
      </div>
    </div>
  </div>
</div>






