

<p>
  <strong>Song title:</strong>
  <%= @playlist.song_title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @playlist.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @playlist.album %>
</p>

<%= link_to 'Destroy', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
